* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main > .container {
    padding: 60px 15px 0;
  }

h1 {
    font-size: 42px;
    padding-bottom: 1.25rem;
}

p {
    text-shadow: 1px 1px 10 Black;
}

footer .container {
    line-height: 40px;
}

.footer-links a {
    text-decoration: none;
    display: inline-block;
}

.footer-links a:hover {
    color: #000 !important;
}

.separator {
    border-left: 1px solid rgb(124, 124, 124);
    height: 20px !important;
    position: relative;
    top: 10px;
}

.header .name {
    font-weight: 800;
}

@media screen and (max-width: 576px) {

    footer .footer-copy {
        text-align: center;
        display: block;
    }

    .footer-links a {
        display: block;
    }

    footer .container a, footer .container img {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {

    .separator {
        border-left: none;
        margin-bottom: 15px !important;
        height: 1px !important;
        border-bottom: 1px solid rgb(68, 68, 68);
        width: 80%;
    }
}